@model DepositoPapeleria.Web.Models.ResumenModel
@{
    ViewData["Title"] = "Detalles   ";
}
<div class="container p-5">
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            <p>@ViewBag.Error</p>
        </div>
    }
    <h2 class="display-6">Detalles de Movimientos</h2>
    @if (Model != null && Model.Detalles.Count() > 0)
    {
        <h6>Se muestra el detalle de movimientos de stock por cada tipo y el total del año @Model.Anio.</h6>
        <hr />
        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    Año
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Anio)
                </dd>
                <dt class="col-sm-2">
                    Total de unidades
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TotalAnio) unidades.
                </dd>
                <dt class="col-sm-2">Detalles</dt>
                <dd class="col-sm-10">
                    <table class="table table-light table-hover">
                        <thead>
                            <tr>
                                <th>Tipo de Movimiento</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Detalle in Model.Detalles)
                            {
                                <tr>
                                    <td>@Detalle.Tipo</td>
                                    <td>@Detalle.Cantidad unidades.</td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </dd>
            </dl>
        </div>
    }
    else
    {
        <div class="text-success">
            <p>No hay detalles para mostrar.</p>
        </div>
    }
    <div>
        <a asp-action="Resumen" class="btn btn-secondary">Volver al Resumen</a>
    </div>
</div>
