@model IEnumerable<DepositoPapeleria.Web.Models.MovimientoModel>
@{
    ViewData["Title"] = "Movimientos";
}

<div class="container bg-white p-2">
    @if (ViewBag.mensaje != null)
    {
        <div class="alert alert-light text-danger">@ViewBag.mensaje</div>
    }
    @if (ViewBag.mensajeOk != null)
    {
        <div class="alert alert-light text-success">@ViewBag.mensajeOk</div>
    }
    <div class="container mt-4">
        @if (ViewBag.Articulos != null && ViewBag.Articulos.Count > 0 && ViewBag.TiposMovimiento != null && ViewBag.TiposMovimiento.Count > 0)
        {
            <div class="card my-4 border-bottom-0">
                <div class="card-body">
                    <h4 class="card-title display-6">Buscar Movimiento de Stock</h4>
                    <h6 class="card-title">Selecciona un articulo y un tipo de movimiento de stock para buscar</h6>
                    <hr />
                    <form method="post" asp-action="Index">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="idArticulo">Articulo</label>
                                    <select id="idArticulo" name="idArticulo" class="form-control" required>
                                        <option value="">Seleccione un articulo</option>
                                        @foreach (var item in ViewBag.Articulos)
                                        {
                                            <option value="@item.Id">@item.Nombre</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="tipo">Tipo de Movimiento</label>
                                    <select id="tipo" name="tipo" class="form-control" required>
                                        <option value="">Seleccione un tipo</option>
                                        @foreach (var item in ViewBag.TiposMovimiento)
                                        {
                                            <option value="@item.Nombre">@item.Nombre</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex align-items-end">
                                <button type="submit" class="btn btn-primary w-100">Buscar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        }
        else
        {
            <div class="alert alert-light text-warning">Los articulos no se cargaron correctamente, reintente.</div>
        }

        @if (Model != null && Model.Count() > 0)
        {
            <div class="alert alert-success small">
                <span class="text-success">Se encontraron @ViewBag.TipoMov.ToString() @ViewBag.Articulo.Nombre.</span>
            </div>
            <table class="table table-light table-hover text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Fecha</th>
                        <th>Email del Encargado</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                            <td>@Html.DisplayFor(modelItem => item.EmailEncargado)</td>
                            <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <span class="text-secondary">Página: @ViewBag.Pagina</span>
        }
        else
        {
            <div class="alert alert-light text-success">No hay movimientos para mostrar.</div>
        }

        <div class="d-flex justify-content-between my-3">
            @if (ViewBag.Pagina > 1)
            {
                <form method="post" asp-action="Anterior" class="mr-2">
                    <input type="hidden" name="tipo" value="@ViewBag.TipoMov.Nombre" />
                    <input type="hidden" name="idArticulo" value="@ViewBag.Articulo.Id" />
                    <input type="submit" class="btn btn-secondary" value="Anterior" />
                </form>
            }
            @if (Model != null && Model.Count() == ViewBag.TopeMax)
            {
                <form method="post" asp-action="Siguiente" class="ml-2">
                    <input type="hidden" name="tipo" value="@ViewBag.TipoMov.Nombre" />
                    <input type="hidden" name="idArticulo" value="@ViewBag.Articulo.Id" />
                    <input type="submit" class="btn btn-primary" value="Siguiente" />
                </form>
            }
        </div>

    </div>

</div>
