@model IEnumerable<Papeleria.LogicaAplicacion.DataTransferObjects.DTOs.ClienteDto>

@{
    ViewData["Title"] = "Clientes";
}
<h1>Lista de Clientes</h1>
<br />
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <h5 class="navbar-brand my-0">Filtrar por</h5>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <form method="post" asp-action="Index" class="navbar-form">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-text">Nombre</span>
                            <input type="text" id="texto" name="texto" class="form-control" placeholder="Ej. ez"/>
                        </div>
                    </div>
                    <h5 class="col-md-1 navbar-brand text-center my-0">ó</h5>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-text">Total mayor a</span>
                            <input type="number" id="montoTotal" name="montoTotal" class="form-control" placeholder="Ej. 100"/>
                        </div>
                    </div>
                    <div class="col-lg-2 text-sm-start pt-sm-2 pt-lg-0">
                        <button type="submit" class="btn btn-secondary">
                            Filtrar
                            <img src="~/img/buscar.svg" class="btn-close-white px-1" title="Filtrar" alt="Filtrar">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

@if (ViewBag.Filtro != null)
{
    <h5 class="alert alert-success">@ViewBag.Filtro</h5>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>
            <th>
                Contacto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distancia)
            </th>
            @* <th></th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RazonSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distancia) km.
                </td>
                @* <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td> *@
            </tr>
        }
    </tbody>
</table>