@using Papeleria.LogicaAplicacion.DataTransferObjects.DTOs
@model Papeleria.LogicaAplicacion.DataTransferObjects.DTOs.PedidoDto

@{
    ViewData["Title"] = "Detalles del Pedido";
}
<div class="container">

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            <span>@ViewBag.Error</span>
        </div>
    }
    else
    {
        <div class="card mt-4">
            <h5 class="card-header bg-primary text-white">Detalles del Pedido</h5>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">Id del Pedido:</dt>
                    <dd class="col-sm-8">@Model.Id</dd>
                    <dt class="col-sm-4">Fecha del Pedido:</dt>
                    <dd class="col-sm-8">@Model.FechaPedido.ToShortDateString()</dd>
                    <dt class="col-sm-4">Fecha Entrega Prometida:</dt>
                    <dd class="col-sm-8">@Model.FechaEntregaPrometida.ToShortDateString()</dd>
                    <dt class="col-sm-4">Cliente:</dt>
                    <dd class="col-sm-8">@Model.Cliente.RazonSocial</dd>
                    <dt class="col-sm-4">Contacto de cliente:</dt>
                    <dd class="col-sm-8">@Model.Cliente.Nombre @Model.Cliente.Apellido</dd>
                    <dt class="col-sm-4">Recargo:</dt>
                    <dd class="col-sm-8">@Model.Recargo.ToString("P")</dd>
                    <dt class="col-sm-4">Monto Total:</dt>
                    <dd class="col-sm-8">@Model.MontoTotal.ToString("C")</dd>
                    <dt class="col-sm-4">Líneas de Pedido:</dt>
                    <dd class="col-sm-4">
                        @if (Model.LineasPedido != null && Model.LineasPedido.Any())
                        {
                            <ul class="list-group">
                                @foreach (var linea in Model.LineasPedido)
                                {
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            @linea.Articulo.Nombre
                                        </div>
                                        <span class="badge bg-secondary">@linea.CantidadUnidadesPedidas uni.</span>
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>No hay líneas de pedido para mostrar.</p>
                        }
                    </dd>
                </dl>
            </div>
        </div>
    }
    <a asp-action="Index" asp-controller="Pedido" class="btn btn-secondary mt-3">Volver a Pedidos
        <img src="~/img/volver.svg" class="btn-close-white px-1" title="Volver" alt="Volver">
    </a>
</div>
