@model IEnumerable<Papeleria.LogicaAplicacion.DataTransferObjects.DTOs.ArticuloDto>

@{
    ViewData["Title"] = "Articulos";
}

<h1>Listado de Articulos</h1>
<br />
@if (ViewBag.mensaje != null)
{
    <div class="alert alert-success">
        <h6>@ViewBag.mensaje</h6>
    </div>
}
<a asp-action="Create" class="btn btn-primary">
    Nuevo Articulo
    <img src="~/img/agregar.svg" class="btn-close-white px-2" title="Nuevo Articulo" alt="Nuevo Articulo">
</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio) ($U)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock) (Uni)
            </th>
            @* <th></th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodProd)
                </td>
                <td>
                    @item.Precio.ToString("C")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                @* <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.Id */ })
            </td> *@
            </tr>
        }
    </tbody>
</table>
